/* 
    Document   : admin-styles
    Created on : Jan 19, 2012, 11:33:28 PM
    Author     : Cameron
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body.toplevel_page_satellite, body.satellite_page_satellite-galleries, body.satellite_page_satellite-slides {
  background-color : #FFF;
  background-image : none;
}
.fl-l { float:left }
.fl-r { float: right }
.no-display { display:none }
.satsection-header {
    height: 24px;
    color: #666;
    padding: 10px;
    cursor: pointer;
    font-size: 19px;
    line-height: 24px;
    position: relative;
    background: white;
    margin: 30px 0 30px 0;
    vertical-align: middle;
    font-family: 'Georgia',serif;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-image: initial;
}
#satl_table {
    background-color:#eef5fb; 
    padding:10px;
}
#satl_table .howto {
    margin-bottom:10px;
}
.togbox {
    padding: 0;
    width: 22px;
    height: 22px;
    color: #CCC;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px 0 0;
    background: #666;
    text-decoration: none;
    font-family: monospace;
    vertical-align: text-top;
    border: 1px solid transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    zoom: 1 !ie<8;
    display: inline !ie<8;
    margin-top: 0 !ie<8;
    border-image: initial;
    cursor:pointer;
}

#poststuff h3 {
    padding: 12px;
    font-size:1.6em;
    clear:none;
}

#misc-publishing-actions.preminfo {
    padding: 2px 15px;
}
.metabox-holder label {
    width:auto;
}
.metabox-holder input, .metabox-holder textarea, .metabox-holder select, .metabox-holder .uneditable-input {
    padding:2px;
}

.filelist {
    width: 60%;
}
.filelist .file {
    padding: 5px;
    background: #ececec;
    border: solid 1px #ccc;
    margin-bottom: 4px;
}
.filelist .fileprogress {
    width: 0%;
    background: #B7C53D;
    height: 5px;
}
.plupload-thumbs {
 
}
.plupload-thumbs .thumb {
    width: 50px;
    padding-right: 5px;
    float: left;
}
.plupload-thumbs .thumb img {
    width: 50px;
    height: 50px;
}
.ui-sortable  .thumb img {
    cursor: pointer;
}
.verttop {
    vertical-align: top;
}
.star-rating {
    background: transparent url('../images/5star.jpg') bottom;
    height:20px;
    width:102px;
    display:block;
}
.star-rating:hover {
    background-position: top;
}
#toplevel_page_satellite ul {
    list-style:none;
}
.toplevel_page_satellite .inner-sidebar #side-sortables {
  min-height:0px;
}
#fixed li {
  height: 120px;
  border-bottom: 1px solid gray;
}

#fixed {
    height: 400px;
    overflow: auto;
}
.slide-holder {
  clear:both;
  display: inline-block;
}
.loader-check { width: 4%;margin-left:3px}
.loader-title { width: 25%;}
.loader-image { min-width: 15%;}
.loader-uselink { width: 10%;}
.loader-section { width: 10%;}
.loader-date {width: 15%; }
.loader-order { width: 10%;}

/**** Slides Page ******/

#gallery-slide-switch {
  float:right;
  display:block;
  font-size:1.2em;
  clear:both;
}

.viewonly form {
  margin:0;
}
.edit {
  cursor:pointer;
}

/**** Angular Specific ****/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/**** Infinite Scroll Specific ****/

.scrollSpace {
  margin-bottom: 415px;
}


/*** Settings Pages ***/
.satl-settings form th {
  text-transform: none;
}
.satl-settings input {
  border: none;
}

.satl-settings #gallery-slide-switch a:visited {
  color: #FFF;
}
input[type="submit"] {
  padding: 5px 24px 5px;
}